/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */
@import url(https://fonts.googleapis.com/css?family=Ubuntu);


  .carousel-caption h3 {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
  }

  .carousel-caption p {
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
  }

  .form-signup h2 {
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    }
.carousel-inner {
  background-size:cover;
  height:500px
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 10 auto;
  max-width: 700px;
}

/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register {
  width: 50%;
}

.email_form {
  border-radius: 0;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 1px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.form-signup {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 1px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}


/* buttons */

.createbtn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  width: 300px;
  border: none;
  height: 35px;
}

.createbtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}






