/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */
@import url(https://fonts.googleapis.com/css?family=Ubuntu);


  .carousel-caption h3 {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
  }

  .carousel-caption p {
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
  }

  .form-signup h2 {
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
  }
  .carousel-inner {
    background-size:100% 100%;
  }

.wrapper {
  background-size:100% 100%;
  position: relative;
}

.container-narrow {
  margin-right: auto;
  margin-left: auto;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

#inputEmail{
   text-align:center;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: -10px;
  max-width: 1000px;
}



/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
  color: #000000;
}

.navcontainer {
  margin-right: 30px;
  margin-left: 60px;
}
.form-register {
  width: 50%;
}

.email_form {
  border-radius: 0;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 1px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.form-signup {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0px;
  text-align: center;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 1px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 60px;
  list-style: none;
}


/* buttons */

.createbtn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  width: 300px;
  border: none;
  height: 35px;
}

.createbtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/*
* ==========================================================================
* Services Section
* ==========================================================================
*/
.services-section {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.services-section .services-header {
  margin-bottom: 50px;
}
.services-section .services-header .services-header-title {
  margin-bottom: 15px;
}
.services-section .services-row-tail {
  margin-top: 50px;
}
.services-section .services-icon {
  color: #3498db;
  margin-bottom: 30px;
}
.services-section .services-title {
  margin-bottom: 15px;
}
.services-section .services-desc {
  margin-bottom: 30px;
}
@media (max-width: 700px) {
  .services-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .services-section .services-group {
    margin-bottom: 50px;
  }
  .services-section .services-row-tail {
    margin-top: 0;
  }
}

/*
* ==========================================================================
* Staff Section
* ==========================================================================
*/

.staff-section {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
  overflow-x: hidden;
}

@media {
  .staff-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.staff-section .staff-header {
  margin-bottom: 30px;
  text-align: center;
}
.staff-section .staff-header .staff-header-title {
  margin-bottom: 15px;
}
.staff-section .staff-image {
  margin-bottom: 15px;
}
.staff-section .staff-designation {
  margin-bottom: 20px;
}

.child-dependant {
   display: none;
}
