
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>About</h1>
      <p>Wilfully was born out of the experience of Lisa Uible, one of Wilfully’s cofounders. Following the 
unexpected death of a close relative, Lisa saw first-hand the trauma that already-distraught relatives suffered because of a lack of estate planning. When she later tried to create her own will, Lisa realized there was a lack of simple, easy-to-use, free online one-stop-shops for estate planning. Determined to come up with something simple that covered the most important questions without incurring legal fees, Lisa decided to use her experience to build Wilfully. 
</p>
    </div>
</div>
{% endblock %}

