
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>About</h1>
      <p>Wilfully was born out of the experience of Lisa, one of Wilfully’s cofounders. Following the 
unexpected death of a close relative, Lisa saw first-hand the trauma that already-distraught relatives suffered because of a lack of estate planning. When she later tried to create her own will, Lisa realized there was a lack of simple, easy-to-use, free online one-stop-shops for estate planning. Determined to come up with something simple that covered the most important questions without incurring legal fees, Lisa decided to use her experience to build Wilfully. 
</p>
    </div>
</div>
<!-- Begin .staff-section -->
<section id="team" class="staff-section section-global-wrapper">

    <div class="container">
        <div class="row">
            <div class="staff-header">
                <h3 class="staff-header-title">OUR TEAM</h3>
                <p class="staff-header-body"></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="staff-group">
                    <div class="staff-image"><img src="{{url_for('static',filename='images/lisa.jpg')}}" alt="" class="img-responsive img-circle" /></div>
                    <h4 class="staff-title">LISA</h4>
                    <h6 class="staff-designation">Co-FOUNDER</h6>
					<p class="staff-body">Developer</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="staff-group">
                    <div class="staff-image"><img src="{{url_for('static',filename='images/natasha1.jpg')}}" alt="" class="img-responsive img-circle" /></div>
                    <h4 class="staff-title">NATASHA</h4>
                    <h6 class="staff-designation">Co-FOUNDER</h6>
                    <p class="staff-body">Strategy, Branding, Marketing</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="staff-group">
                    <div class="staff-image"><img src="{{url_for('static',filename='images/sarah.jpg')}}" alt="" class="img-responsive img-circle" /></div>
                    <h4 class="staff-title">SARAH</h4>
                    <h6 class="staff-designation">Co-FOUNDER</h6>
                    <p class="staff-body">Legal</p>
                </div>
            </div>

        </div>
    </div>

</section>
<!-- End .staff-section -->
{% endblock %}

