{% extends "layout.html" %}

{% block js %}
<script src="{{ url_for('static', filename='js/childrenform.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Children</h1>
    <!--<script type="text/javascript">
      function HidePart(childrenId) { document.getElementById(childrenId).style.display = "none";  }
      function ShowPart(childrenId) { document.getElementById(childrenId).style.display = "block"; }
      function CheckboxChecked(status, childrenId) {
        if (status) { ShowPart(childrenId); }
        else { HidePart(childrenId); }
      }
    </script>
    <script type="text/javascript">
      function myFunction() { var childrennumber = document.getElementById("childrennumber").value; }
    </script>-->
    <form id="registerForm" class="form form-register" method="POST" action="" role="form">
      {{ settings_form.hidden_tag() }}
      <div class="form-group">
          <label>
            {{settings_form.children()}}
            {{settings_form.children.label.text}}
          </label>
      </div>
      <div class="child-dependant">
        <div class="form-group">
          {{settings_form.childrennumber.label}}
          {{settings_form.childrennumber(class_='form-control', placeholder='1')}}
        </div>
        <div class="children">
          <h2>Children names</h2>
          {% for child_input in settings_form.childrenname %}
          <div class="form-group">
            {{child_input.label}}
            {{child_input(class_='form-control', placeholder='Put your first childs name here.')}}
          </div>
          {% endfor %}
        </div><!-- /children -->
      </div><!-- /child-dependant -->
      <p><input class="btn btn-default btn-submit" type="submit" value="Save"></p>
    </form>
</div> <!-- /container -->
{% endblock %}
