{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1>Will: Financial Assets</h1>
    <br/>
    <form id="registerForm" class="form form-register" method="POST" action="" role="form">
            {{ settings_form.hidden_tag() }}
            <div class="form-group">
                <label>
                  {{settings_form.desendants()}}
                  {{settings_form.desendants.label.text}}
                </label>
            </div>
            <div class="form-group">
              {{settings_form.fin_assets.label}}
              {{settings_form.fin_assets(class_='form-control', placeholder='Put recipents name here.')}}
            </div>
            <div class="form-group">
              {{settings_form.percent_fin_assets.label}}
              {{settings_form.percent_fin_assets(class_='form-control', placeholder='Put recipents percent here.')}}
            </div>
            <div class="form-group">
              {{settings_form.accountdetails.label}}
              {{settings_form.accountdetails(class_='form-control', placeholder='List accounts here.')}}
            </div>
            <p><input class="btn btn-default btn-submit" type="submit" value="Save"></p>
    </form>
</div> <!-- /container -->

    <p><em>Already registered?</em> Click <a href="/">here</a> to login.</p>
</div>


{% endblock %}