{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1>Funeral wishes: Body</h1>
    <br/>
    <form id="registerForm" class="form form-register" method="POST" action="" role="form">
            {{ settings_form.hidden_tag() }}
            <div class="form-group">
              {{settings_form.funeral_body.label}}
              {% for subfield in settings_form.funeral_body %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr>
              {% endfor %}
            </div>
            <div class="form-group">
              {{settings_form.buriallocation.label}}
              {{settings_form.buriallocation(class='form-control', placeholder='Where would you like to be buried?')}}
            </div>
            <div class="form-group">
              {{settings_form.burialdetails.label}}
              {{settings_form.burialdetails(class_='form-control', placeholder='And other details to share?')}}
            </div>
            <p><input class="btn btn-default btn-submit" type="submit" value="Save"></p>
    </form>
</div> <!-- /container -->

    <p><em>Already registered?</em> Click <a href="/">here</a> to login.</p>
</div>


{% endblock %}
