
{% extends "layout.html" %}
{% block content %}

<div class="container">
<h1 class="text-center">Create your free and legal will</h1>
      <form class="form-signup">
        <!-- /<label for="inputEmail" class="sr-only">Email address</label>-->
        {{form.email.label}}
        {{form.email(placeholder="Email", class_="form-control")}}
        <!-- /<input type="email_form" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>-->
        <button class="createbtn" ".createbtn:hover" type="submit">Create my will</button>
      </form>
</div> <!-- /container -->

    <p><em>Already registered?</em> Click <a href="/">here</a> to login.</p>
</div>
{% endblock %}

